{
  "http_interactions": [
    {
      "recorded_at": "2018-01-03T16:38:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Project"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866084,\"token\":\"4VZGOB3p\",\"name\":\"Test Project\",\"notes\":null,\"status\":1,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:01.259994Z\",\"updated_at\":\"2018-01-03T16:38:01.259994Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"4a29f0f81ba63826235d7a66f1bb7291\"",
          "X-Cloud-Trace-Context": "c44f672e948a4eefc83f18f9cb21e174;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Section"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects/1866084/sections"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":6703719,\"name\":\"Test Section\",\"description\":null,\"color\":null,\"status\":1,\"project_id\":1866084,\"sequence\":0.0,\"created_at\":\"2018-01-03T16:38:01.510602Z\",\"updated_at\":\"2018-01-03T16:38:01.510602Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"25ebcc66698b696411a04a62bd83f8ee\"",
          "X-Cloud-Trace-Context": "fdd828af060c4a328c938f53d3203da3;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866084/sections"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Task"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/sections/6703719/tasks"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":20172030,\"token\":\"aSpRceWo\",\"name\":\"Test Task\",\"notes\":null,\"notes_html\":null,\"status\":1,\"status_updated_at\":\"2018-01-03T16:38:01.657064Z\",\"section_id\":6703719,\"sequence\":-1.0,\"assigned_to_id\":24484544,\"due\":null,\"created_at\":\"2018-01-03T16:38:01.657279Z\",\"updated_at\":\"2018-01-03T16:38:01.657279Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"f41b4de7ddba91e6d9b9f5eecaf84c23\"",
          "X-Cloud-Trace-Context": "d928e4ad571d4fbe886ac7e45a95b222;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/sections/6703719/tasks"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:02",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "text=Test+Comment"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/tasks/20172030/comments"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":9313089,\"task_id\":20172030,\"text\":\"Test Comment\",\"text_html\":\"\\u003cp\\u003eTest Comment\\u003c\\/p\\u003e\\n\",\"person_id\":24484544,\"created_at\":\"2018-01-03T16:38:01.876839Z\",\"updated_at\":\"2018-01-03T16:38:01.876839Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"48bd1f3812bdcfa27429f52528bfa08e\"",
          "X-Cloud-Trace-Context": "c57a75f323ec436f824c3934eec3f404;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/tasks/20172030/comments"
      }
    },
[...]
    {
      "recorded_at": "2018-01-03T16:38:02",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "status=4"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "PUT",
        "uri": "https://www.meistertask.com/api/projects/1866084"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866084,\"token\":\"4VZGOB3p\",\"name\":\"Test Project\",\"notes\":null,\"status\":4,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:01.259994Z\",\"updated_at\":\"2018-01-03T16:38:02.348814Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"d06371a90f6c967e44744447d4e82697\"",
          "X-Cloud-Trace-Context": "5753dccc55a94e8dcb12ef3de222d61a;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866084"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}