{
  "http_interactions": [
    {
      "recorded_at": "2018-01-03T16:38:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Project"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866088,\"token\":\"4g77HKL3\",\"name\":\"Test Project\",\"notes\":null,\"status\":1,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:06.199842Z\",\"updated_at\":\"2018-01-03T16:38:06.199842Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"4d56ade53430c8d2e4d9f4112f21af2e\"",
          "X-Cloud-Trace-Context": "613e33830dd6497c87b804a3cde6b233;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Label"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects/1866088/labels"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1436155,\"project_id\":1866088,\"name\":\"Test Label\",\"color\":\"d93651\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"39f67c9f0dd5d867f6633a4f833932d4\"",
          "X-Cloud-Trace-Context": "a651c41fcb9b415a8e04111cbb45a892;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866088/labels"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>"
        },
        "method": "GET",
        "uri": "https://www.meistertask.com/api/labels/1436155"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1436155,\"project_id\":1866088,\"name\":\"Test Label\",\"color\":\"d93651\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"39f67c9f0dd5d867f6633a4f833932d4\"",
          "X-Cloud-Trace-Context": "e95cd82d7523427587e5ca25e8ea6e0c;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/labels/1436155"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "status=4"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "PUT",
        "uri": "https://www.meistertask.com/api/projects/1866088"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866088,\"token\":\"4g77HKL3\",\"name\":\"Test Project\",\"notes\":null,\"status\":4,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:06.199842Z\",\"updated_at\":\"2018-01-03T16:38:06.654001Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"bff49abea09198bdb5e49820c4a362cd\"",
          "X-Cloud-Trace-Context": "d962fc11ae7c47318f8ea507b0efa911;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866088"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}