{
  "http_interactions": [
    {
      "recorded_at": "2018-01-03T16:38:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Project"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866095,\"token\":\"4UyiToWv\",\"name\":\"Test Project\",\"notes\":null,\"status\":1,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:11.414043Z\",\"updated_at\":\"2018-01-03T16:38:11.414043Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"73b24173f551c46db5fd58044b4ee403\"",
          "X-Cloud-Trace-Context": "c6709292a3314bbdce75967801a49ff1;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Label"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects/1866095/labels"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1436158,\"project_id\":1866095,\"name\":\"Test Label\",\"color\":\"d93651\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"ca57f89929f6b02c63e4caea55248b69\"",
          "X-Cloud-Trace-Context": "340e45456dc54cd58bfeb778df6eb9d6;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866095/labels"
      }
    },
[...]
    {
      "recorded_at": "2018-01-03T16:38:12",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "status=4"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "PUT",
        "uri": "https://www.meistertask.com/api/projects/1866095"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866095,\"token\":\"4UyiToWv\",\"name\":\"Test Project\",\"notes\":null,\"status\":4,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:11.414043Z\",\"updated_at\":\"2018-01-03T16:38:12.071231Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"8cbc360c4a692e3ed3d7cc0de87d3231\"",
          "X-Cloud-Trace-Context": "56989a26b6544746c1d53d45233d6848;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866095"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}