{
  "http_interactions": [
    {
      "recorded_at": "2018-01-03T16:38:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Project"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866099,\"token\":\"xbkzfCWg\",\"name\":\"Test Project\",\"notes\":null,\"status\":1,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:14.504552Z\",\"updated_at\":\"2018-01-03T16:38:14.504552Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"eff47922bb9494b5cc63dd7e63413a1d\"",
          "X-Cloud-Trace-Context": "f1eccb1b37c44f0acece53cadb36f36a;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Section"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects/1866099/sections"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":6703722,\"name\":\"Test Section\",\"description\":null,\"color\":null,\"status\":1,\"project_id\":1866099,\"sequence\":0.0,\"created_at\":\"2018-01-03T16:38:14.727457Z\",\"updated_at\":\"2018-01-03T16:38:14.727457Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"9f3fec85ef8b8ea94bcd740c65372d5c\"",
          "X-Cloud-Trace-Context": "b5ec83b0ff8740f0c3de8f8c9c0243d9;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866099/sections"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Task"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/sections/6703722/tasks"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":20172048,\"token\":\"rRzP4TGd\",\"name\":\"Test Task\",\"notes\":null,\"notes_html\":null,\"status\":1,\"status_updated_at\":\"2018-01-03T16:38:14.859038Z\",\"section_id\":6703722,\"sequence\":-1.0,\"assigned_to_id\":24484544,\"due\":null,\"created_at\":\"2018-01-03T16:38:14.859221Z\",\"updated_at\":\"2018-01-03T16:38:14.859221Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"b2e55505de50e19dc563111bfb40c2c5\"",
          "X-Cloud-Trace-Context": "d61bc399b7e94254806cfebed80a2625;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/sections/6703722/tasks"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>"
        },
        "method": "GET",
        "uri": "https://www.meistertask.com/api/projects/1866099/tasks"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "[{\"id\":20172048,\"token\":\"rRzP4TGd\",\"name\":\"Test Task\",\"notes\":null,\"notes_html\":null,\"status\":1,\"status_updated_at\":\"2018-01-03T16:38:14.859038Z\",\"section_id\":6703722,\"sequence\":-1.0,\"assigned_to_id\":24484544,\"due\":null,\"created_at\":\"2018-01-03T16:38:14.859221Z\",\"updated_at\":\"2018-01-03T16:38:14.859221Z\"}]"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"be9c8eb8be2aacea0bd26f9c7724fd01\"",
          "X-Cloud-Trace-Context": "6fcdc70d27a5438785fedd50c7598cd6;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866099/tasks"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "status=4"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "PUT",
        "uri": "https://www.meistertask.com/api/projects/1866099"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866099,\"token\":\"xbkzfCWg\",\"name\":\"Test Project\",\"notes\":null,\"status\":4,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:14.504553Z\",\"updated_at\":\"2018-01-03T16:38:15.288673Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"9db3788c5db2424833755ec8b6404267\"",
          "X-Cloud-Trace-Context": "7e61d5c13fb34331c764ae6147803238;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866099"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}