{
  "http_interactions": [
    {
      "recorded_at": "2018-01-03T16:38:13",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Project"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866098,\"token\":\"WYdN0WBh\",\"name\":\"Test Project\",\"notes\":null,\"status\":1,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:13.640927Z\",\"updated_at\":\"2018-01-03T16:38:13.640927Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"6391b84fbec3f250c2f9cdd8a896e725\"",
          "X-Cloud-Trace-Context": "8bc6574859014f4082a29e34a36a1698;o=1",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Section"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects/1866098/sections"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":6703721,\"name\":\"Test Section\",\"description\":null,\"color\":null,\"status\":1,\"project_id\":1866098,\"sequence\":0.0,\"created_at\":\"2018-01-03T16:38:14.035310Z\",\"updated_at\":\"2018-01-03T16:38:14.035310Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"485601b218e2240da2385c0bd025cfbf\"",
          "X-Cloud-Trace-Context": "9f4d3645ab994d128c41bceee70147a5;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866098/sections"
      }
    },
[...]
    {
      "recorded_at": "2018-01-03T16:38:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "status=4"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "PUT",
        "uri": "https://www.meistertask.com/api/projects/1866098"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866098,\"token\":\"WYdN0WBh\",\"name\":\"Test Project\",\"notes\":null,\"status\":4,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:13.640928Z\",\"updated_at\":\"2018-01-03T16:38:14.272095Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"9756e18b0d5d93a8ba1b11cf3d05c6ea\"",
          "X-Cloud-Trace-Context": "6462085a46f049418e9455e65eb2c6b7;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866098"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}