{
  "http_interactions": [
    {
      "recorded_at": "2018-01-03T16:38:09",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Project"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866091,\"token\":\"me0WwK21\",\"name\":\"Test Project\",\"notes\":null,\"status\":1,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:09.124898Z\",\"updated_at\":\"2018-01-03T16:38:09.124898Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"f9900d720ebde8d0a8e143b96cc6845e\"",
          "X-Cloud-Trace-Context": "b508879398c84af4cf7ca2fcdb848a04;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects"
      }
    },
[...]
    {
      "recorded_at": "2018-01-03T16:38:09",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "status=4"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "PUT",
        "uri": "https://www.meistertask.com/api/projects/1866091"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866091,\"token\":\"me0WwK21\",\"name\":\"Test Project\",\"notes\":null,\"status\":4,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:09.124899Z\",\"updated_at\":\"2018-01-03T16:38:09.448340Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"ff33643630452464cfde6d0212060bfa\"",
          "X-Cloud-Trace-Context": "709e6bf559104d8fcee8bb7ffdd15c36;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866091"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}