{
  "http_interactions": [
    {
      "recorded_at": "2018-01-03T16:38:13",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Project"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866097,\"token\":\"kIl94DhU\",\"name\":\"Test Project\",\"notes\":null,\"status\":1,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:13.012243Z\",\"updated_at\":\"2018-01-03T16:38:13.012243Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"0f7aea1a0cc8dbf4ab71dae835c91c7f\"",
          "X-Cloud-Trace-Context": "36ce25aa5e104f9ec974d9f9c1d6b742;o=1",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:13",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "status=4"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "PUT",
        "uri": "https://www.meistertask.com/api/projects/1866097"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866097,\"token\":\"kIl94DhU\",\"name\":\"Test Project\",\"notes\":null,\"status\":4,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:13.012243Z\",\"updated_at\":\"2018-01-03T16:38:13.416981Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"b04e5daafc2be8865ee6a082a43e1712\"",
          "X-Cloud-Trace-Context": "79df1e6788fc4933c0a7b7d0a1a3cdfe;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866097"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}