{
  "http_interactions": [
    {
      "recorded_at": "2018-01-03T16:38:10",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Project"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866093,\"token\":\"yc7hQckl\",\"name\":\"Test Project\",\"notes\":null,\"status\":1,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:10.185337Z\",\"updated_at\":\"2018-01-03T16:38:10.185337Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"87dedd765df0e34dd0d52da21d07f656\"",
          "X-Cloud-Trace-Context": "458caba3c814417282f122ba33af9657;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:10",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>"
        },
        "method": "GET",
        "uri": "https://www.meistertask.com/api/projects/1866093"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866093,\"token\":\"yc7hQckl\",\"name\":\"Test Project\",\"notes\":null,\"status\":1,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:10.185338Z\",\"updated_at\":\"2018-01-03T16:38:10.341239Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"94c11ccc4cec58c654950e7ddb252330\"",
          "X-Cloud-Trace-Context": "081e0eeba3ca4c5d8b5ca7de6e439a1e;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866093"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:10",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "status=4"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "PUT",
        "uri": "https://www.meistertask.com/api/projects/1866093"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866093,\"token\":\"yc7hQckl\",\"name\":\"Test Project\",\"notes\":null,\"status\":4,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:10.185338Z\",\"updated_at\":\"2018-01-03T16:38:10.533398Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"a2083bbd372b5e18d950295f483791a9\"",
          "X-Cloud-Trace-Context": "0ed595d7124e4434879fe9ff93293bea;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866093"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}