{
  "http_interactions": [
    {
      "recorded_at": "2018-01-03T16:38:09",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Project"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866092,\"token\":\"3I3DLZjU\",\"name\":\"Test Project\",\"notes\":null,\"status\":1,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:09.691855Z\",\"updated_at\":\"2018-01-03T16:38:09.691855Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"2dff73563d9cef22028b1598bcab528a\"",
          "X-Cloud-Trace-Context": "27f7dcf4103a4b90c34127235786a02e;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:09",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "status=4"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "PUT",
        "uri": "https://www.meistertask.com/api/projects/1866092"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866092,\"token\":\"3I3DLZjU\",\"name\":\"Test Project\",\"notes\":null,\"status\":4,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:09.691856Z\",\"updated_at\":\"2018-01-03T16:38:09.950170Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"9a4afbf4032dc0a5dcf9dffcd7e2820c\"",
          "X-Cloud-Trace-Context": "f871860fd0b349838abb72fa35250af2;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866092"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}