{
  "http_interactions": [
    {
      "recorded_at": "2018-01-03T16:38:10",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Project"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866094,\"token\":\"xhBMNX3x\",\"name\":\"Test Project\",\"notes\":null,\"status\":1,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:10.765525Z\",\"updated_at\":\"2018-01-03T16:38:10.765525Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"32b272658db02440b32a5b30368eeec3\"",
          "X-Cloud-Trace-Context": "e91cde0bd3514a448f94bdb79fc7fad8;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Renamed+Project"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "PUT",
        "uri": "https://www.meistertask.com/api/projects/1866094"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866094,\"token\":\"xhBMNX3x\",\"name\":\"Renamed Project\",\"notes\":null,\"status\":1,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:10.765525Z\",\"updated_at\":\"2018-01-03T16:38:11.000022Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"68fefc138b2211bee14413ef0a63bce5\"",
          "X-Cloud-Trace-Context": "f09355d287bd4b61ca13aea2dbe4698b;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866094"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "status=4"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "PUT",
        "uri": "https://www.meistertask.com/api/projects/1866094"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866094,\"token\":\"xhBMNX3x\",\"name\":\"Renamed Project\",\"notes\":null,\"status\":4,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:10.765525Z\",\"updated_at\":\"2018-01-03T16:38:11.126430Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"8d434030fc84c4bde1f17609a5a3c348\"",
          "X-Cloud-Trace-Context": "577cb3df4b364976c9f4f4a74bd1c285;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866094"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}