{
  "http_interactions": [
    {
      "recorded_at": "2018-01-03T16:38:16",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Project"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866101,\"token\":\"5z7KYGc2\",\"name\":\"Test Project\",\"notes\":null,\"status\":1,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:16.403857Z\",\"updated_at\":\"2018-01-03T16:38:16.403857Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"e9eada3adca469c0c6fb049e01587a17\"",
          "X-Cloud-Trace-Context": "34684078b8bd40488f9e47844bf1d1d4;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:16",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Section"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects/1866101/sections"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":6703724,\"name\":\"Test Section\",\"description\":null,\"color\":null,\"status\":1,\"project_id\":1866101,\"sequence\":0.0,\"created_at\":\"2018-01-03T16:38:16.642594Z\",\"updated_at\":\"2018-01-03T16:38:16.642594Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"8110e1dd699146dc5ac65ff5824225fc\"",
          "X-Cloud-Trace-Context": "c8b62714d93b40c3c0a86e441e399e2d;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866101/sections"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:16",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "status=4"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "PUT",
        "uri": "https://www.meistertask.com/api/projects/1866101"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866101,\"token\":\"5z7KYGc2\",\"name\":\"Test Project\",\"notes\":null,\"status\":4,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:16.403857Z\",\"updated_at\":\"2018-01-03T16:38:16.782691Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"1808ec8f41e77bf69732bff321b439ce\"",
          "X-Cloud-Trace-Context": "7dd3c7eacc1c44a48681bafeac2faa7a;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866101"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}