{
  "http_interactions": [
    {
      "recorded_at": "2018-01-03T16:38:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Project"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866100,\"token\":\"lq1DACeF\",\"name\":\"Test Project\",\"notes\":null,\"status\":1,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:15.536606Z\",\"updated_at\":\"2018-01-03T16:38:15.536606Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"a3914a23c821bd57a4ebb9d18ddbaa29\"",
          "X-Cloud-Trace-Context": "be92e0eb9a134b5ace55d235d9526ebe;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Section"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects/1866100/sections"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":6703723,\"name\":\"Test Section\",\"description\":null,\"color\":null,\"status\":1,\"project_id\":1866100,\"sequence\":0.0,\"created_at\":\"2018-01-03T16:38:15.787153Z\",\"updated_at\":\"2018-01-03T16:38:15.787153Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"293dfe7ce743d0fd8f0ad4be8db8c41f\"",
          "X-Cloud-Trace-Context": "f27de38af126471bcb5a70e6ea5362ee;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866100/sections"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>"
        },
        "method": "GET",
        "uri": "https://www.meistertask.com/api/sections"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "[{\"id\":6703723,\"name\":\"Test Section\",\"description\":null,\"color\":null[...]
    {
      "recorded_at": "2018-01-03T16:38:16",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "status=4"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "PUT",
        "uri": "https://www.meistertask.com/api/projects/1866100"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866100,\"token\":\"lq1DACeF\",\"name\":\"Test Project\",\"notes\":null,\"status\":4,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:15.536607Z\",\"updated_at\":\"2018-01-03T16:38:16.027959Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"62d58562b58f1c384616661618ec4aa0\"",
          "X-Cloud-Trace-Context": "f8d0957c9f544f6089af900f7c989d1f;o=1",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866100"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}