{
  "http_interactions": [
    {
      "recorded_at": "2018-01-03T16:38:18",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Project"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866103,\"token\":\"oG4n6gFa\",\"name\":\"Test Project\",\"notes\":null,\"status\":1,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:17.998105Z\",\"updated_at\":\"2018-01-03T16:38:17.998105Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"e676e02737933100666d2b521c9b4577\"",
          "X-Cloud-Trace-Context": "5eee779b85d44d4acde5c5330c7c599e;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:24",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Section"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects/1866103/sections"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":6703733,\"name\":\"Test Section\",\"description\":null,\"color\":null,\"status\":1,\"project_id\":1866103,\"sequence\":0.0,\"created_at\":\"2018-01-03T16:38:24.764969Z\",\"updated_at\":\"2018-01-03T16:38:24.764969Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"65796644b726d07286b0e1fd39059c37\"",
          "X-Cloud-Trace-Context": "f9184c23b9f1466a87dd5eb6726975c7;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866103/sections"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Renamed+Section"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "PUT",
        "uri": "https://www.meistertask.com/api/sections/6703733"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":6703733,\"name\":\"Renamed Section\",\"description\":null,\"color\":null,\"status\":1,\"project_id\":1866103,\"sequence\":0.0,\"created_at\":\"2018-01-03T16:38:24.764970Z\",\"updated_at\":\"2018-01-03T16:38:25.187434Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"ac6d6765e5be4fd4132fe23a22123062\"",
          "X-Cloud-Trace-Context": "15aac78613c446e48d44c584bacc19d0;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/sections/6703733"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "status=4"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "PUT",
        "uri": "https://www.meistertask.com/api/projects/1866103"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866103,\"token\":\"oG4n6gFa\",\"name\":\"Test Project\",\"notes\":null,\"status\":4,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:17.998105Z\",\"updated_at\":\"2018-01-03T16:38:25.544209Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"b3e838747c2ce06cd2b96ab5101fc492\"",
          "X-Cloud-Trace-Context": "611d393b00dd454186adb554c90cbd3f;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866103"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}