{
  "http_interactions": [
    {
      "recorded_at": "2018-01-03T16:38:27",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Project"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866108,\"token\":\"tj9af4JX\",\"name\":\"Test Project\",\"notes\":null,\"status\":1,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:26.650911Z\",\"updated_at\":\"2018-01-03T16:38:26.650911Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"b9f4374aebc95d85481da124e1d05b24\"",
          "X-Cloud-Trace-Context": "412fbc804a3546cbc0a8fa6c03f07be5;o=1",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:27",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Section"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects/1866108/sections"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":6703738,\"name\":\"Test Section\",\"description\":null,\"color\":null,\"status\":1,\"project_id\":1866108,\"sequence\":0.0,\"created_at\":\"2018-01-03T16:38:27.156658Z\",\"updated_at\":\"2018-01-03T16:38:27.156658Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"862e5402c71b05f9169b8f9c86c29b2a\"",
          "X-Cloud-Trace-Context": "7e24a29409904fadc586bcc4594ef3a1;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866108/sections"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:27",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Task"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/sections/6703738/tasks"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":20172064,\"token\":\"51SDNMlO\",\"name\":\"Test Task\",\"notes\":null,\"notes_html\":null,\"status\":1,\"status_updated_at\":\"2018-01-03T16:38:27.290787Z\",\"section_id\":6703738,\"sequence\":-1.0,\"assigned_to_id\":24484544,\"due\":null,\"created_at\":\"2018-01-03T16:38:27.291028Z\",\"updated_at\":\"2018-01-03T16:38:27.291028Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"a941717de4d709df306f5b35eafb7b40\"",
          "X-Cloud-Trace-Context": "2bffd2b72ae74e0ecaeb54a77447fb2c;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/sections/6703738/tasks"
      }
    },
[...]
    {
      "recorded_at": "2018-01-03T16:38:27",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "status=4"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "PUT",
        "uri": "https://www.meistertask.com/api/projects/1866108"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866108,\"token\":\"tj9af4JX\",\"name\":\"Test Project\",\"notes\":null,\"status\":4,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:26.650911Z\",\"updated_at\":\"2018-01-03T16:38:27.750153Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"32c475ae853c8ebcdffba9fb1b43fb02\"",
          "X-Cloud-Trace-Context": "1913079164f0452c85d95265c465cd56;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866108"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}