{
  "http_interactions": [
    {
      "recorded_at": "2018-01-03T16:38:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Project"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866107,\"token\":\"Ac2mmM65\",\"name\":\"Test Project\",\"notes\":null,\"status\":1,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:25.793807Z\",\"updated_at\":\"2018-01-03T16:38:25.793807Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"a4192463ff2f60564c400bae8e021fdd\"",
          "X-Cloud-Trace-Context": "a96905bfd01a404fc1750c10874876c6;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Section"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects/1866107/sections"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":6703737,\"name\":\"Test Section\",\"description\":null,\"color\":null,\"status\":1,\"project_id\":1866107,\"sequence\":0.0,\"created_at\":\"2018-01-03T16:38:26.121037Z\",\"updated_at\":\"2018-01-03T16:38:26.121037Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"817a4b26f2fce905dbf5531e0b82ed2f\"",
          "X-Cloud-Trace-Context": "d6325d03f2b540d0cad9d983124fa536;o=1",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866107/sections"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "status=4"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "PUT",
        "uri": "https://www.meistertask.com/api/projects/1866107"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866107,\"token\":\"Ac2mmM65\",\"name\":\"Test Project\",\"notes\":null,\"status\":4,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:25.793808Z\",\"updated_at\":\"2018-01-03T16:38:26.406000Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"1f5dd048864508c5c8b3420539a5cbb5\"",
          "X-Cloud-Trace-Context": "b74aba455e744050c3852f8f064edfaf;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866107"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}