{
  "http_interactions": [
    {
      "recorded_at": "2018-01-03T16:38:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Project"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866118,\"token\":\"jvNRlgUZ\",\"name\":\"Test Project\",\"notes\":null,\"status\":1,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:40.817100Z\",\"updated_at\":\"2018-01-03T16:38:40.817100Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"7d09fd4a02375ae4de7c8db0293c86b7\"",
          "X-Cloud-Trace-Context": "ee4e4612450944958d5a13f38275283b;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Section"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects/1866118/sections"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":6703749,\"name\":\"Test Section\",\"description\":null,\"color\":null,\"status\":1,\"project_id\":1866118,\"sequence\":0.0,\"created_at\":\"2018-01-03T16:38:41.118490Z\",\"updated_at\":\"2018-01-03T16:38:41.118490Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"16cd1ee72c74ffa931aaa85e18eb1a4f\"",
          "X-Cloud-Trace-Context": "2216812f2cf14a3b8534adf787df0376;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866118/sections"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Task"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/sections/6703749/tasks"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":20172087,\"token\":\"6GLHWhar\",\"name\":\"Test Task\",\"notes\":null,\"notes_html\":null,\"status\":1,\"status_updated_at\":\"2018-01-03T16:38:41.455633Z\",\"section_id\":6703749,\"sequence\":-1.0,\"assigned_to_id\":24484544,\"due\":null,\"created_at\":\"2018-01-03T16:38:41.455878Z\",\"updated_at\":\"2018-01-03T16:38:41.455878Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"e2298def15cc7dbc80bf0771cf7fe2d3\"",
          "X-Cloud-Trace-Context": "8c02eb369acb42d2887e9c1914441c25;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/sections/6703749/tasks"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Label"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects/1866118/labels"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1436165,\"project_id\":1866118,\"name\":\"Test Label\",\"color\":\"d93651\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"23a64586fe5960950b5db0ef6dfe8996\"",
          "X-Cloud-Trace-Context": "386c659dfd294dec8a7eaa26cdbfad5a;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866118/labels"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "label_id=1436165"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/tasks/20172087/task_labels"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":5663283,\"label_id\":1436165,\"task_id\":20172087}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"d87998cdd60ab5e826daf1ad35d61283\"",
          "X-Cloud-Trace-Context": "a5cd45fe6af74ad0868150c5400ee9da;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/tasks/20172087/task_labels"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>"
        },
        "method": "GET",
        "uri": "https://www.meistertask.com/api/tasks/20172087/labels"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "[{\"id\":1436165,\"project_id\":1866118,\"name\":\"Test Label\",\"color\":\"d93651\"}]"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"0084eeea97b7146d021208a9cfabbf79\"",
          "X-Cloud-Trace-Context": "a27a8b1599464245ce6dcb5f2f847b2f;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/tasks/20172087/labels"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:42",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "status=4"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "PUT",
        "uri": "https://www.meistertask.com/api/projects/1866118"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866118,\"token\":\"jvNRlgUZ\",\"name\":\"Test Project\",\"notes\":null,\"status\":4,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:40.817101Z\",\"updated_at\":\"2018-01-03T16:38:42.219624Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"dd29e013878d09c1b75b26387396d06e\"",
          "X-Cloud-Trace-Context": "1bc5d30e3846460cc80c14b1b89710d7;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866118"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}