{
  "http_interactions": [
    {
      "recorded_at": "2018-01-03T16:38:39",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Project"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866117,\"token\":\"e0UhQ3vf\",\"name\":\"Test Project\",\"notes\":null,\"status\":1,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:39.350068Z\",\"updated_at\":\"2018-01-03T16:38:39.350068Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"0a210949903743419346bb4d0a302850\"",
          "X-Cloud-Trace-Context": "375bb7cd71bd4e9ecfb348260cafd824;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:39",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Section"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects/1866117/sections"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":6703748,\"name\":\"Test Section\",\"description\":null,\"color\":null,\"status\":1,\"project_id\":1866117,\"sequence\":0.0,\"created_at\":\"2018-01-03T16:38:39.597311Z\",\"updated_at\":\"2018-01-03T16:38:39.597311Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"f5c9485a1a72f24cb82ffa645caa3b10\"",
          "X-Cloud-Trace-Context": "04ef6f1c753b42d48505c191c0baec07;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866117/sections"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:39",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Task"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/sections/6703748/tasks"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":20172082,\"token\":\"jSdwZu6b\",\"name\":\"Test Task\",\"notes\":null,\"notes_html\":null,\"status\":1,\"status_updated_at\":\"2018-01-03T16:38:39.733825Z\",\"section_id\":6703748,\"sequence\":-1.0,\"assigned_to_id\":24484544,\"due\":null,\"created_at\":\"2018-01-03T16:38:39.734031Z\",\"updated_at\":\"2018-01-03T16:38:39.734031Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"9df67c1d97b04c9c854403b3fcd993e9\"",
          "X-Cloud-Trace-Context": "545f64c026bc4924c5079afd902e6ce3;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/sections/6703748/tasks"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "text=Test+Comment"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/tasks/20172082/comments"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":9313108,\"task_id\":20172082,\"text\":\"Test Comment\",\"text_html\":\"\\u003cp\\u003eTest Comment\\u003c\\/p\\u003e\\n\",\"person_id\":24484544,\"created_at\":\"2018-01-03T16:38:39.991343Z\",\"updated_at\":\"2018-01-03T16:38:39.991343Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"07794535fa8a498422a90f4a5e6fb8d8\"",
          "X-Cloud-Trace-Context": "7c958d886bdf4656c88dd2e6d5841bda;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/tasks/20172082/comments"
      }
    },
[...]
    {
      "recorded_at": "2018-01-03T16:38:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "status=4"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "PUT",
        "uri": "https://www.meistertask.com/api/projects/1866117"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866117,\"token\":\"e0UhQ3vf\",\"name\":\"Test Project\",\"notes\":null,\"status\":4,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:39.350068Z\",\"updated_at\":\"2018-01-03T16:38:40.568248Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"f0a617c569acb95197e2950f928e5cae\"",
          "X-Cloud-Trace-Context": "7c1185a748b941b0c65eba53ce38331e;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866117"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}