{
  "http_interactions": [
    {
      "recorded_at": "2018-01-03T16:38:29",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Project"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866110,\"token\":\"hoDOWKo9\",\"name\":\"Test Project\",\"notes\":null,\"status\":1,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:29.292739Z\",\"updated_at\":\"2018-01-03T16:38:29.292739Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"5045d5f4f4c2de06ece718351fa6ace7\"",
          "X-Cloud-Trace-Context": "9c4419063daf4b76824cb4e3e1fbba60;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:29",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Section"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects/1866110/sections"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":6703740,\"name\":\"Test Section\",\"description\":null,\"color\":null,\"status\":1,\"project_id\":1866110,\"sequence\":0.0,\"created_at\":\"2018-01-03T16:38:29.536964Z\",\"updated_at\":\"2018-01-03T16:38:29.536964Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"71cc39b044ca8cdd75c62a7ef6bc8fb9\"",
          "X-Cloud-Trace-Context": "1b309a68866849bd8d29ff5a93252828;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866110/sections"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:29",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Task"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/sections/6703740/tasks"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":20172066,\"token\":\"5Ialm8T6\",\"name\":\"Test Task\",\"notes\":null,\"notes_html\":null,\"status\":1,\"status_updated_at\":\"2018-01-03T16:38:29.667748Z\",\"section_id\":6703740,\"sequence\":-1.0,\"assigned_to_id\":24484544,\"due\":null,\"created_at\":\"2018-01-03T16:38:29.667934Z\",\"updated_at\":\"2018-01-03T16:38:29.667934Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"6103553f48d617aba51db7cfd819bba5\"",
          "X-Cloud-Trace-Context": "bf82672b09ae463588418aedbfda4d95;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/sections/6703740/tasks"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Label"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects/1866110/labels"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1436161,\"project_id\":1866110,\"name\":\"Test Label\",\"color\":\"d93651\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"ae1424d99a54705d6f0052217d064474\"",
          "X-Cloud-Trace-Context": "66d2524628634d5fc7e9646bc292dbfd;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866110/labels"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "label_id=1436161"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/tasks/20172066/task_labels"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":5663277,\"label_id\":1436161,\"task_id\":20172066}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"b7c4734e0b82cfbe279a112284d89e10\"",
          "X-Cloud-Trace-Context": "cc38771c31e241eccbdcc2dc816fc1a5;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/tasks/20172066/task_labels"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>"
        },
        "method": "DELETE",
        "uri": "https://www.meistertask.com/api/task_labels/5663277"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "X-Cloud-Trace-Context": "13e8b2d68e4b4a2cc261712a15db3a7c;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://www.meistertask.com/api/task_labels/5663277"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "status=4"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "PUT",
        "uri": "https://www.meistertask.com/api/projects/1866110"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866110,\"token\":\"hoDOWKo9\",\"name\":\"Test Project\",\"notes\":null,\"status\":4,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:29.292740Z\",\"updated_at\":\"2018-01-03T16:38:30.764461Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"0cdcc8535e786cb0b0b5c796b19b1e71\"",
          "X-Cloud-Trace-Context": "791c100b48874e7fcb57a81af8162ef1;o=1",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866110"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}