{
  "http_interactions": [
    {
      "recorded_at": "2018-01-03T16:38:34",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Project"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866113,\"token\":\"if4VNqqT\",\"name\":\"Test Project\",\"notes\":null,\"status\":1,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:34.089780Z\",\"updated_at\":\"2018-01-03T16:38:34.089780Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"a82eaa959edb2a1e4d927a2eed119271\"",
          "X-Cloud-Trace-Context": "7b791aca8df74544cb7621bcbf6bfa71;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:34",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Section"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects/1866113/sections"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":6703744,\"name\":\"Test Section\",\"description\":null,\"color\":null,\"status\":1,\"project_id\":1866113,\"sequence\":0.0,\"created_at\":\"2018-01-03T16:38:34.329687Z\",\"updated_at\":\"2018-01-03T16:38:34.329687Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"a703a2d25417833bc27d07ee0186762a\"",
          "X-Cloud-Trace-Context": "933ff99d111842298e8eed44aa2e0154;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866113/sections"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:34",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Task"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/sections/6703744/tasks"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":20172073,\"token\":\"qdnfUe2A\",\"name\":\"Test Task\",\"notes\":null,\"notes_html\":null,\"status\":1,\"status_updated_at\":\"2018-01-03T16:38:34.472422Z\",\"section_id\":6703744,\"sequence\":-1.0,\"assigned_to_id\":24484544,\"due\":null,\"created_at\":\"2018-01-03T16:38:34.472753Z\",\"updated_at\":\"2018-01-03T16:38:34.472753Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"0efdfe4c71fdb9f8629a9304b2cd2ecb\"",
          "X-Cloud-Trace-Context": "76feb1420a9047d48d8c0c8875a95e2a;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/sections/6703744/tasks"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:35",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>"
        },
        "method": "GET",
        "uri": "https://www.meistertask.com/api/tasks"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "[{\"id\":11879286,\"token\":\"rDXM8ZyX\",\"name\":\"Test Task\",\"notes\":null,\"[...]
    {
      "recorded_at": "2018-01-03T16:38:35",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "status=4"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "PUT",
        "uri": "https://www.meistertask.com/api/projects/1866113"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866113,\"token\":\"if4VNqqT\",\"name\":\"Test Project\",\"notes\":null,\"status\":4,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:34.089781Z\",\"updated_at\":\"2018-01-03T16:38:35.208430Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"6f81bf2ac5e195fce8db7861666ff397\"",
          "X-Cloud-Trace-Context": "1f1beb2bb4ec440c84643662e194b779;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866113"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}