{
  "http_interactions": [
    {
      "recorded_at": "2018-01-03T16:38:38",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Project"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866116,\"token\":\"8sW2LPGb\",\"name\":\"Test Project\",\"notes\":null,\"status\":1,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:37.974916Z\",\"updated_at\":\"2018-01-03T16:38:37.974916Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"24c1486e50cfca38ee3920262fa05d6c\"",
          "X-Cloud-Trace-Context": "3f4ce03c0143403ac8226418cb3a4a25;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:38",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Section"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects/1866116/sections"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":6703747,\"name\":\"Test Section\",\"description\":null,\"color\":null,\"status\":1,\"project_id\":1866116,\"sequence\":0.0,\"created_at\":\"2018-01-03T16:38:38.307654Z\",\"updated_at\":\"2018-01-03T16:38:38.307654Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"5440561859f356c389224bc1eb67ab98\"",
          "X-Cloud-Trace-Context": "f1a190ced5884ac4c7688516a1f44edd;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866116/sections"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:38",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Task"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/sections/6703747/tasks"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":20172080,\"token\":\"wUBDiSjS\",\"name\":\"Test Task\",\"notes\":null,\"notes_html\":null,\"status\":1,\"status_updated_at\":\"2018-01-03T16:38:38.546266Z\",\"section_id\":6703747,\"sequence\":-1.0,\"assigned_to_id\":24484544,\"due\":null,\"created_at\":\"2018-01-03T16:38:38.546582Z\",\"updated_at\":\"2018-01-03T16:38:38.546582Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"d4f2d50d4493ec0c695b485c835eae44\"",
          "X-Cloud-Trace-Context": "c5b5683629e348b4892fe7d9e902c0fb;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/sections/6703747/tasks"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:38",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Renamed+Task"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "PUT",
        "uri": "https://www.meistertask.com/api/tasks/20172080"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":20172080,\"token\":\"wUBDiSjS\",\"name\":\"Renamed Task\",\"notes\":null,\"notes_html\":null,\"status\":1,\"status_updated_at\":\"2018-01-03T16:38:38.546266Z\",\"section_id\":6703747,\"sequence\":-1.0,\"assigned_to_id\":24484544,\"due\":null,\"created_at\":\"2018-01-03T16:38:38.546582Z\",\"updated_at\":\"2018-01-03T16:38:38.811892Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"e9814420ea6a362c8bd2beb5dc8ea51c\"",
          "X-Cloud-Trace-Context": "834c2206babd4d1080a87e53533895af;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/tasks/20172080"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:39",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "status=4"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "PUT",
        "uri": "https://www.meistertask.com/api/projects/1866116"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866116,\"token\":\"8sW2LPGb\",\"name\":\"Test Project\",\"notes\":null,\"status\":4,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:37.974916Z\",\"updated_at\":\"2018-01-03T16:38:39.068815Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"6345ef658acc63d48ee8608ecf1a212a\"",
          "X-Cloud-Trace-Context": "ce172d4f8a174a44cbcc20528f3e2d17;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866116"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}