{
  "http_interactions": [
    {
      "recorded_at": "2018-01-03T16:38:35",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Project"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866114,\"token\":\"5C7ZS0iW\",\"name\":\"Test Project\",\"notes\":null,\"status\":1,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:35.660493Z\",\"updated_at\":\"2018-01-03T16:38:35.660493Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"667ef2b6c537b5e34105957525389281\"",
          "X-Cloud-Trace-Context": "2dd64aa8398b42e9cc5761fd7be338b7;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:35",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Section"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects/1866114/sections"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":6703745,\"name\":\"Test Section\",\"description\":null,\"color\":null,\"status\":1,\"project_id\":1866114,\"sequence\":0.0,\"created_at\":\"2018-01-03T16:38:35.907048Z\",\"updated_at\":\"2018-01-03T16:38:35.907048Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"4a1fec892155a620fa2ab468a701db3f\"",
          "X-Cloud-Trace-Context": "f4d7f038bddd4da7ce21cf56f08d1cf5;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866114/sections"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:36",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Task"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/sections/6703745/tasks"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":20172076,\"token\":\"cXJGXFNG\",\"name\":\"Test Task\",\"notes\":null,\"notes_html\":null,\"status\":1,\"status_updated_at\":\"2018-01-03T16:38:36.037176Z\",\"section_id\":6703745,\"sequence\":-1.0,\"assigned_to_id\":24484544,\"due\":null,\"created_at\":\"2018-01-03T16:38:36.037369Z\",\"updated_at\":\"2018-01-03T16:38:36.037369Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"3550b055c94b95b05baf3127ef867ff7\"",
          "X-Cloud-Trace-Context": "f40b22cd0f5c48e284955ce6967bc596;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/sections/6703745/tasks"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:36",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "status=4"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "PUT",
        "uri": "https://www.meistertask.com/api/projects/1866114"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866114,\"token\":\"5C7ZS0iW\",\"name\":\"Test Project\",\"notes\":null,\"status\":4,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:35.660494Z\",\"updated_at\":\"2018-01-03T16:38:36.477739Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"32ce91c68b103cfc03c3d9c6422689a5\"",
          "X-Cloud-Trace-Context": "7b65ad19fbe244fd845d3a4b4877ffe9;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866114"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}