{
  "http_interactions": [
    {
      "recorded_at": "2018-01-03T16:38:31",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Project"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866111,\"token\":\"5rTbySe2\",\"name\":\"Test Project\",\"notes\":null,\"status\":1,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:31.167465Z\",\"updated_at\":\"2018-01-03T16:38:31.167465Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"e9e93204083a612ac66f28e4f8f869f6\"",
          "X-Cloud-Trace-Context": "b99ac662bedc444381d73322a72dd161;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:31",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Section"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects/1866111/sections"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":6703741,\"name\":\"Test Section\",\"description\":null,\"color\":null,\"status\":1,\"project_id\":1866111,\"sequence\":0.0,\"created_at\":\"2018-01-03T16:38:31.434046Z\",\"updated_at\":\"2018-01-03T16:38:31.434046Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"5fe5d45aedc9dd8dec4963ccadc8bd63\"",
          "X-Cloud-Trace-Context": "e1c81fb109e041f687e4263912b4db60;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866111/sections"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:31",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Task"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/sections/6703741/tasks"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":20172069,\"token\":\"pdbWEHfb\",\"name\":\"Test Task\",\"notes\":null,\"notes_html\":null,\"status\":1,\"status_updated_at\":\"2018-01-03T16:38:31.574818Z\",\"section_id\":6703741,\"sequence\":-1.0,\"assigned_to_id\":24484544,\"due\":null,\"created_at\":\"2018-01-03T16:38:31.575109Z\",\"updated_at\":\"2018-01-03T16:38:31.575109Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"81647ec79f14b29ef5b0384abbeed67a\"",
          "X-Cloud-Trace-Context": "133a46087bff48acc1902cab3ea8c68b;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/sections/6703741/tasks"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:31",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Label"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects/1866111/labels"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1436162,\"project_id\":1866111,\"name\":\"Test Label\",\"color\":\"d93651\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"d01c87522c7fe3789cb292c0e711b003\"",
          "X-Cloud-Trace-Context": "5188fd3bb6f94407c242cfcb306a01ab;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866111/labels"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:32",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "label_id=1436162"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/tasks/20172069/task_labels"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":5663278,\"label_id\":1436162,\"task_id\":20172069}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"1ce40e03d1958c1055d161c5fd4a52eb\"",
          "X-Cloud-Trace-Context": "1839d821ca0d4b0f8ba77d6155d271ce;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/tasks/20172069/task_labels"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:32",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>"
        },
        "method": "GET",
        "uri": "https://www.meistertask.com/api/task_labels/5663278"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":5663278,\"label_id\":1436162,\"task_id\":20172069}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"1ce40e03d1958c1055d161c5fd4a52eb\"",
          "X-Cloud-Trace-Context": "1264fa574e164ba0cfa4e3acc8d9c8d7;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/task_labels/5663278"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:32",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "status=4"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "PUT",
        "uri": "https://www.meistertask.com/api/projects/1866111"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866111,\"token\":\"5rTbySe2\",\"name\":\"Test Project\",\"notes\":null,\"status\":4,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:31.167466Z\",\"updated_at\":\"2018-01-03T16:38:32.343461Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"984fe4bc24959f6fe265733527a126b3\"",
          "X-Cloud-Trace-Context": "d13731b4dc3f44eac766d54389a31852;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866111"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}