{
  "http_interactions": [
    {
      "recorded_at": "2018-01-03T16:38:42",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Project"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866119,\"token\":\"gTW8G4CK\",\"name\":\"Test Project\",\"notes\":null,\"status\":1,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:42.477972Z\",\"updated_at\":\"2018-01-03T16:38:42.477972Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"2422707344f5f5bb1c45abf062bbd752\"",
          "X-Cloud-Trace-Context": "afd5c268330f4224cb37e789b87633a6;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:42",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Section"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects/1866119/sections"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":6703750,\"name\":\"Test Section\",\"description\":null,\"color\":null,\"status\":1,\"project_id\":1866119,\"sequence\":0.0,\"created_at\":\"2018-01-03T16:38:42.735468Z\",\"updated_at\":\"2018-01-03T16:38:42.735468Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"984a98513d0f4ad00f10ff7fb17075ed\"",
          "X-Cloud-Trace-Context": "9f6ee78e9bd44da7cdf1f63e6be7eddc;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866119/sections"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:43",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Task"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/sections/6703750/tasks"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":20172089,\"token\":\"gfOLdv3B\",\"name\":\"Test Task\",\"notes\":null,\"notes_html\":null,\"status\":1,\"status_updated_at\":\"2018-01-03T16:38:42.870160Z\",\"section_id\":6703750,\"sequence\":-1.0,\"assigned_to_id\":24484544,\"due\":null,\"created_at\":\"2018-01-03T16:38:42.870433Z\",\"updated_at\":\"2018-01-03T16:38:42.870433Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"bfcd73f369679f5a441c7b1c8e76920e\"",
          "X-Cloud-Trace-Context": "bfa5f00a48bc4ab78635b891e1a792e6;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/sections/6703750/tasks"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:43",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "status=4"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "PUT",
        "uri": "https://www.meistertask.com/api/projects/1866119"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866119,\"token\":\"gTW8G4CK\",\"name\":\"Test Project\",\"notes\":null,\"status\":4,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:42.477973Z\",\"updated_at\":\"2018-01-03T16:38:43.206145Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"a2e9ca9b16e11c1d05bcf427ea8ed030\"",
          "X-Cloud-Trace-Context": "476adb0c48c84c45cf374d026fe08043;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866119"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}