{
  "http_interactions": [
    {
      "recorded_at": "2018-01-03T16:38:43",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Project"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866121,\"token\":\"eeKpUp5B\",\"name\":\"Test Project\",\"notes\":null,\"status\":1,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:43.449074Z\",\"updated_at\":\"2018-01-03T16:38:43.449074Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"d405781698c398b0c95c391e83c0d7d6\"",
          "X-Cloud-Trace-Context": "29b16b6a9c5142528ab6e67298716b2a;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:43",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Section"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects/1866121/sections"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":6703754,\"name\":\"Test Section\",\"description\":null,\"color\":null,\"status\":1,\"project_id\":1866121,\"sequence\":0.0,\"created_at\":\"2018-01-03T16:38:43.693690Z\",\"updated_at\":\"2018-01-03T16:38:43.693690Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"3ed4e37b875c0f4cb5b994837f12bae7\"",
          "X-Cloud-Trace-Context": "c56d55d2a54d4d8681120539fb5cd5a3;o=1",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866121/sections"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Task"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/sections/6703754/tasks"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":20172094,\"token\":\"gzqCmxVs\",\"name\":\"Test Task\",\"notes\":null,\"notes_html\":null,\"status\":1,\"status_updated_at\":\"2018-01-03T16:38:43.932888Z\",\"section_id\":6703754,\"sequence\":-1.0,\"assigned_to_id\":24484544,\"due\":null,\"created_at\":\"2018-01-03T16:38:43.933114Z\",\"updated_at\":\"2018-01-03T16:38:43.933114Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"90e01b0d9649dbcaf6af6d8aff393fee\"",
          "X-Cloud-Trace-Context": "7e7624aa11af44378c02d4b2be12d1e7;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/sections/6703754/tasks"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "name=Test+Label"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/projects/1866121/labels"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1436166,\"project_id\":1866121,\"name\":\"Test Label\",\"color\":\"d93651\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"f9dc3107323387cf58abb47444b1fe45\"",
          "X-Cloud-Trace-Context": "c74a2a3f1577456281caee73a12f5d6c;o=1",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866121/labels"
      }
    },
    {
      "recorded_at": "2018-01-03T16:38:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "label_id=1436166"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.meistertask.com/api/tasks/20172094/task_labels"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":5663285,\"label_id\":1436166,\"task_id\":20172094}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"3f4fa17ebb7856b5b3f113ae5e72fd2a\"",
          "X-Cloud-Trace-Context": "d01bc0436eec47aa8d2cdf36fbfe2e27;o=0",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/tasks/20172094/task_labels"
      }
    },
[...]
    {
      "recorded_at": "2018-01-03T16:38:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "status=4"
        },
        "headers": {
          "Authorization": "Bearer <MEISTERTASK_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "PUT",
        "uri": "https://www.meistertask.com/api/projects/1866121"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1866121,\"token\":\"eeKpUp5B\",\"name\":\"Test Project\",\"notes\":null,\"status\":4,\"share_token\":null,\"share_token_enabled\":false,\"created_at\":\"2018-01-03T16:38:43.449075Z\",\"updated_at\":\"2018-01-03T16:38:44.756544Z\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "ETag": "W/\"d843b20c3453e2e9f92408b7a3a28244\"",
          "X-Cloud-Trace-Context": "4a35266d5b554fbf828664abac79b5af;o=1",
          "X-Request-Origin": "xapp3"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.meistertask.com/api/projects/1866121"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}